@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";
@import 'swiper/css';
@import "swiper/css/pagination";

@theme {
  --font-oswald: Oswald, "sans-serif";
}



@keyframes truckMove {
  0% {
    left: -60px;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.animate-truckMove {
  animation: truckMove 4s ease-in-out infinite;
}

/* Стилі для пагінації */
.swiper-pagination-bullet {
  background-color: #2f8555;
  /* Змінює колір неактивних пагінаційних елементів */
}

.swiper-pagination-bullet-active {
  background-color: #14c514;
  /* Змінює колір активного пагінаційного елемента */
}

.swiper-pagination-bullet:hover {
  background-color: #218b2f;
  /* Змінює колір при наведенні */
}